/CRUD.class
/accessory.class
/laptop.class
/main_P.class
/menu.class
/product.class
/smartphone.class
/validators.class
/validators_patterns.class
/regex_patterns.class
/regex.class
/insert_data.class
